@import '../constants.scss';

.game {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  & > div {
    padding: 20px;
  }
}

.game-board {
  background: $game-board-background;
}
.game-info {
  background: $game-info-background;
}
